In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Read in corpus
corpus = pd.read_csv('state_tweets_corpus.csv')
corpus.head()

   Unnamed: 0       state                                             tweets
0           0     Alabama  ['ap', 'news', 'latest', 'nzealand', 'mulls', ...
1           1      Alaska  ['tribal', 'transit', 'program', 'makes', 'fun...
2           2     Arizona  ['arizona', 'voted', 'increase', 'taxes', 'wea...
3           3    Arkansas  ['saw', 'story', 'ppl', 'move', 'arkansas', 'd...
4           4  California  ['bold', 'shift', 'roadfocus', 'head', 'public...

In [3]:
#Create lambda fxns for polarity and subjectivity
from textblob import TextBlob

pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

corpus['polarity'] = corpus['tweets'].apply(pol)
corpus['subjectivity'] = corpus['tweets'].apply(sub)
corpus.head()

,Unnamed: 0,state,tweets,polarity,subjectivity
0,0,Alabama,"['ap', 'news', 'latest', 'nzealand', 'mulls', ...",0.185000,0.605000
1,1,Alaska,"['tribal', 'transit', 'program', 'makes', 'fun...",0.162500,0.347348
2,2,Arizona,"['arizona', 'voted', 'increase', 'taxes', 'wea...",0.125000,0.300000
3,3,Arkansas,"['saw', 'story', 'ppl', 'move', 'arkansas', 'd...",0.271429,0.357143
4,4,California,"['bold', 'shift', 'roadfocus', 'head', 'public...",0.126572,0.384251

In [5]:
#Take out just sentiment analysis data and state name for export. 
sentiment = corpus[['state', 'polarity', 'subjectivity']]

In [7]:
sentiment.to_csv('sentiment.csv')